<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eteam.dufour.mobile"
    android:versionCode="60"
    android:versionName="6.30 (RED Production)">
    <!--  android:versionCode="48"
       android:versionName="6.21 (Android Production)"-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".ElahApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@android:style/Theme.Black.NoTitleBar"
        android:usesCleartextTraffic="true">


        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ElahSyncPage"
            android:configChanges="orientation|screenSize|keyboardHidden"></activity>
        <activity
            android:name=".ElahToBeSent"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ElahPointOfSale"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".SurveyTabActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".SurveyCreateActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".SurveySuccessActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"></activity>
        <activity
            android:name=".SurveySaveActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".ClusterDialogActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".SurveyFailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".ActivityCustomerDetail"
            android:configChanges="orientation|screenSize|keyboardHidden"></activity>
        <activity
            android:name=".DetailProdottiActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"></activity>
        <activity
            android:name=".DetailPromozioniActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"></activity>
        <activity
            android:name=".DetailSalesStatActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"></activity>
        <activity
            android:name=".AlertMsgActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".AlertUpdateActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".ConfirmDraftActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".ConfirmCopyActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".ElahFileBrowser"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="com.eteam.dufour.service.ServiceLauncher"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>

                <category android:name="android.intent.category.HOME"></category>

                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.eteam.dufour.service.UpdateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.eteam.dufour.service.UpdateService.ACTION_UPDATION"></action>
            </intent-filter>
        </receiver>

        <service
            android:name="com.eteam.dufour.service.UpdateService"
            android:enabled="true" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ce0d4ee3c9114d09413be7ef43616da56eb42af1" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>